!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>apply</h1>
    <a href="/index">index</a>
      <a href="/about">about</a>
      <a href="/contact">contact</a>
      <a href="/apply">apply</a>

<form  action="/apply" method="POST">
  <input type="submit" name="submit" value="submit">
</form>
  </body>
</html>
